.more-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}

.more-products-box{
    border-right: 1px solid var(--first-color);
    text-align: center;
    font-size: 1.4rem;
    padding-right: 1.4rem;
}

.more-products-box:nth-child(2n){
    border: none;
}

@media(min-width: 768px){
    .more-products{
        display: flex;
        justify-content: center;
    }

    .more-products-box:nth-child(2n){
        border-right: 1px solid var(--first-color);
    }

    .more-products-box:last-child{
        border: none;
    }
}